# Fill out those variables before running the program:

DISCORD_TOKEN=
DISCORD_CHANNELS_SOCIAL_MEDIA_ID=

# Below ones can be copied over.

RSS_BRIDGE_URL=https://rss-bridge.org/bridge01

YOUTUBE_USERNAME=@STAR-PASS
BLUESKY_USERNAME=star-pass.bsky.social
MASTODON_USERNAME=@starpass_eu@mastodon.social
INSTAGRAM_USERNAME=starpass_eu
THREADS_USERNAME=starpass_eu

SOCIAL_MEDIA_CHECK_INTERVAL_SECONDS=1800 # 30 * 60
